
/*   __ _   __   _  _  ____   __   ____ 
    (  ( \ / _\ / )( \(  _ \ / _\ (  _ \
    /    //    \\ \/ / ) _ (/    \ )   /
    \_)__)\_/\_/ \__/ (____/\_/\_/(__\_)
*/

.navbar {
    /* Animation defaults */
    --timing: ease-in-out;
    --duration: 0.4s;

    /* Element initializations */
    --select-background: #E8E8E8;
    --select-arrow-color: #4F4F4F;

    --search-bg: white;

    --tooltip-background: black;
    --tooltip-text-color: white;
    --tooltip-font-size: 0.8rem;

    --menu-background-color: black;
    --menu-items-color: white;
    --menu-font-size: 1rem;
    --menu-item-gap: 0.4rem;

    --option-icon-color: #353535;

    height: fit-content;
    background-color: whitesmoke;
    border-bottom: 0.1rem solid lightgray;

    font-family: 'Avenir';
}

.nav-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.website-logo {
    order: 1;
    height: 100%;
    width: 10%;
}

.search-bar-group {
    order: 2;
    flex-grow: 0.85;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 50rem;
    column-gap: 0rem;
    align-items: center;
    justify-content: center;
}
.search-bar-group > .selector-container {
    border-right: none;
}

.search-bar-group > .search-container {
    flex-grow: 0.2;
}

.user-options {
    order: 3;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /*place-items: center;*/
    /*grid-gap: 1rem;*/
    /*grid-template-columns: repeat(3,1fr);*/
}
.user-option {
    position: relative;
    height: 100%;
    display: inline-grid;
    place-items: center;
    padding: 0.5rem;
}

.user-option:hover > .tooltip {
    visibility: visible;
}

.user-option > svg ,
.user-option > span {
    height: 80%;
    fill: var(--option-icon-color);
    object-fit: contain;
}

.user-option:hover svg {
    fill: black;
}
