/*   _______  _______  _______  _______  _______  ______
    |       ||       ||       ||       ||       ||    _ |
    |    ___||   _   ||   _   ||_     _||    ___||   | ||
    |   |___ |  | |  ||  | |  |  |   |  |   |___ |   |_||_
    |    ___||  |_|  ||  |_|  |  |   |  |    ___||    __  |
    |   |    |       ||       |  |   |  |   |___ |   |  | |
    |___|    |_______||_______|  |___|  |_______||___|  |_|
*/

.footer-section {
    /* Animation defaults */
    --timing: ease-in-out;
    --duration: 0.4s;

    /* Element initializations */
    --select-background: transparent;
    --select-arrow-color: #4F4F4F;

    background-color: #E4E4E4;
    display: grid;
    place-items: end normal;
    justify-content: end;

    /*margin-top: auto;*/

    padding: 2rem;
    /*overflow-y: hidden;*/
}

.footer-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.region-selection {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.region-selection svg {
    fill: black;
    max-height: 1.5em;
    max-width: 1.5em;
}

.region-selection > .selector-container,
.region-selection + .selector-container {
    border: none;
}


.service-block {
    list-style-type: none;
    padding: 0.4rem 1rem 0.4rem 2rem;
    text-align: center;
    border-left: 0.1rem dashed black;
}

.service-block:hover > .service-item > a {
    font-style: italic;
    color: #4F4F4F;
}

.service-item a {
    text-decoration: none;
    color: black;
    transition: all calc(var(--duration) / 2) var(--timing);
}

.service-item:hover > a:hover {
    color: black;
    font-weight: 500;
    font-size: 1.05rem;
    font-style: normal;
}
