.form-container {
	background-color: white;
	border: 1px dotted gray;

	width: fit-content;
	height: fit-content;
	padding: 2rem;

	z-index: 5;
	position: absolute;
	display: inline-block;
}

.login-form {
	display: flex;
	align-items: left;
	align-content: center;
	justify-content: center;
	flex-flow: column wrap;
}

.login-form label {
	align-self: left;
	color: gray;
	font-size: .9rem;
}

input[type="submit"] {
	width: fit-content;
	padding: .4em 1em;
	background-color: black;
	color: white;
	align-self: center;
}
