/*  .____     .__           __   .__                
    |    |    |__|  _______/  |_ |__|  ____    ____ 
    |    |    |  | /  ___/\   __\|  | /    \  / ___ \
    |    |___ |  | \___ \  |  |  |  ||   |  \/ /_/  / 
    |_______ \|__|/____  > |__|  |__||___|  /\___  /
            \/         \/                 \//_____/  
*/


.product-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    overflow: hidden;
    /*width: 100%;*/
    /*width: auto;*/
    /*padding: 0.8rem 1rem 2rem 1rem;*/
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    margin-bottom: 3em;
    transition: all 1s ease-in-out;
}
