
.listings-section {
    width:100%;
    height:fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; gap: 1rem;
}

.products-section{
    width:100%;
    height:fit-content;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

*{ box-sizing: border-box; }

.product-container {
    height: auto;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    /*vertical-align: middle;*/

    /*padding: 1rem;*/
    /*margin-bottom: 0.7rem;*/
    margin-right: 0;
    padding: 1rem;
    font-family: 'Avenir';
    font-size: 80%;
  }
.product-container:hover{
    /*width: 50%;*/
    background-color: #f7f7f7;
}

.product-container > a {
  order: 1;
  display: flex;
  padding: 0;
  flex-flow: row nowrap;
  gap: auto;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;

  max-height: 20rem;
}

.product-container > a:link {
    color: #4f4f4f;
}

.product-container > a:hover {
    color: #000000;
}

.product-container > a:visited {
    color: #bababa;
}

.product-container > a:visited:hover {
    color: #000000;
}

.product-image > img {
    padding: auto;
    margin: auto;
    /*max-width: min(5rem,60%);*/
    /*max-width: min(10rem,55%);*/
    max-width: inherit;
    height: inherit;
    object-fit: contain;
}

.product-image {
    order: 1;
    padding: 0.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /*margin-top: 5px;*/

    height: 10rem;
    max-width: 100%;
    object-fit: cover;
    /*margin-right: 1.2rem;*/
}

.product-opts {
  order: 2;
  display: inline-grid;
  grid-column-gap: 0.2rem;
  width: 10%;
  height: 4%;
}

  /* Popover styling */
.specs-icon {
  font-size: 25px;
  /*line-height: 36px;*/
  color: rgb(71, 69, 69);
  text-align: center;
  margin: 0;
  padding: 0;
  /*float: bottom;*/
  /*padding: 170px 0px 0px 0px;*/
  /*float: right;*/
  height: fit-content;
  width: fit-content;
  /*margin-bottom: auto;*/
  font-family: 'Avenir';
}

.specs-section {
  position: right; 
  margin-top: 1.1rem; 
  display: inline-block;
  height: fit-content;
  width: fit-content;
}
.specs-float-section::-webkit-scrollbar {
  display: flex;
  width: 0.5em;
}

.specs-float-section::-webkit-scrollbar-track-piece:start {
  margin-top: 18%;
}

 
.specs-float-section::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  width:20px;
}

.specs-float-section {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  background-color: whitesmoke;
  font-family: 'Avenir';
  padding: 0rem 0.5rem 0rem 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  max-height: 64%;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translate(-90%, -2%);
}

.specs-float-section:before {
  position: absolute;
  z-index: -1;
  content: "";
  /*right: calc(50% - 10px);*/
  top: -20%;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #4f4f4f #4f4f4f #bfbfbf #4f4f4f;
  /* transition-duration: 0.3s;
  transition-property: transform; */
}

.specs-section:hover .specs-float-section {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  /*margin: 0 0 20px 0;*/
  /* transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97); */
}
/*.specs__message {*/
  /*display: inline;*/
/*}*/

.spec-float-title {
  font-family: 'Avenir';
  font-weight: bold;
  border-bottom: 0.1px solid #424656;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  padding-top: 0;
  padding-bottom: 0.4rem;
  color: gray;
}

.unavail {
  color: gray;
}

a {
  text-decoration: none;
}

.specTable {
  border-collapse: collapse;
  margin-top: 0px;
  padding-top: 0px;
}

.spec {
  border-bottom: 1px dotted #b8b8b8;
}

.spec:last-child {
  border-bottom: none;
}

.spec > td:first-child{
  font-weight: bold;
  color: #4f4f4f;
}

