@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir.ttc') format('ttc');
}

.content{
    background-color: whitesmoke;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 0px;
}

.category-block {
    --gap: 8rem;
    width: 9%;
    height: 10%;
    /* border:1px solid black; */
    /*margin: 1rem; */
    margin-top: var(--gap); 
    margin-bottom: var(--gap); 
    /*border-radius: 20px;*/
    background-color: transparent;
    position: relative;
    /*display: flex;*/
}

.category-block > svg {
    /*padding: 20px;*/
    /*border-radius: 10px;*/
    height: fit-content;
    width: fit-content;
    max-height: 20%;
    max-width: 100%;
    object-fit: contain;
}

.category-block > svg > path {
    fill: #424656;
}

.category-block:hover > svg > path, .category-block:hover > .catName {
    --hover-color: #717999;
    cursor: pointer;
    color: var(--hover-color);
    fill: var(--hover-color);
}

.category-block > a {
    text-decoration: none;
}

.catName {
    text-align:center;
    font-size: 10px;
    color: #424656;
    position: relative;
    /*top: 25%;*/
    width: 100%;
    font-family: 'Futura', cursive;
    font-size: 20px;
}
