* { --selected: #717999;
    --td-width: 20ch;
    --tborder: 1px solid #f0f0f0;
    --spechd-fntsz: 0.8em;
    --pname-fntsz: 0.8em;
    --spec-fontsz: 0.9em;
  }

/*
  --- COMPARE BUTTON ---
*/

.compare-button {
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
    justify-content: space-between;
    position: relative;
    outline: none;
    padding: 0.2rem;
    text-align: center;
    border: 0.1rem solid var(--bg);
    border-radius: 50%;
    /*background-color: var(--bg);*/
    background-color: transparent;
    cursor: pointer;
    max-width: fit-content;
}

.compare-button:hover , .compare-button:hover > svg > path {
    background-color: lightgray;
    fill: black;
}

.compare-button > svg {
    --svg-dim: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    height: var(--svg-dim);
    width: var(--svg-dim);
}
.compare-button > svg > path {
    fill: var(--bg);
}

.compare-button.check, .compare-button.check > svg > path {
    background-color: var(--selected);
    fill: white;
}

/*
  --- COMPARE BAR ---
*/

.compare-bar {
    visibility: hidden;
    display: block;
    z-index: 3;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0.01rem 0vw 0.01rem 1vw;
    top: 0%;
    left: 0%;
    /*background-image: linear-gradient(200deg, lightgray, white);*/
    background-color: lightgray;

    width: 100%;
    height: 0;
}
.compare-bar:hover {
    background-color: #f4f4f4;
}
.compare-bar:after {
    content: " ";
    border: solid black;
    border-width: 0 0.1rem 0.1rem 0;
    align-self: right;
    position: absolute;
    top: 40%;
    right: 2%;
    width: 10px;
    vertical-align: middle;
    height: 10px;
    transform: rotate(45deg);
}
.compare-bar.active {
    visibility: visible;
    position: sticky;
    height: fit-content;
}

/*
  --- COMPARE WINDOW ---
*/

.compare-window {
    visibility: hidden;
    width: 100%;
    top: 9.6%;
    left: 0%;
    height: 0;
    position: relative;
    z-index: 2;
    margin:0;
    /*overflow-y: scroll;*/
    /*top:0%;*/
    /*left:0%;*/

    border: none;
    border-bottom: var(--tborder);
    box-shadow: 0rem 0.09rem 0.4rem 0.4rem gray;
    background-color: white;
    font-family: 'Avenir';
}
.compare-window.active {
    visibility: visible;
    position: sticky;
    height: 70vh;
    overflow-y: scroll;
}

/*
  --- COMPARE TABLE ---
*/

.compare-table {
    border-collapse: collapse;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: fit-content;
}
.cProdImg {
    display: block;
    margin-top: 1rem;
    margin-left:auto;
    margin-right:auto;
    width: 7vw;
    height: auto;
    max-width: inherit;
    max-height: inherit; 
}
.storeIC {
    position: relative;
    float: right;
    right: 5%;
    margin-bottom: 0.8rem;
    width: 2.5rem;
    height:auto;
}
.compare-row-image {
    border: var(--tborder);
    gap: 1rem;
}
/*Top Left Blank Gap*/
.compare-row-image > th {
    width: 3vw;
    height: auto;
    margin-left:0;
    background-color: transparent;
}

.compare-row-image > td {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: var(--td-width);
    height: fit-content;
    object-fit: contain;
}

.row_pname {
    border: var(--tborder);
    background-color: white;
    font-weight: bold;
    width: 100%;
}

.cTH {
    color: gray;
    font-size: var(--spechd-fntsz);
    text-align: right;
    padding-right: 0.5rem;
    padding-left: 0;
}
 
/*Product Name cells*/
.row_pname > td {
    text-align: center;
    font-size: var(--pname-fntsz);
    padding-left: 2em;
    padding-right: 2em;
    width: var(--td-width);
}

.specCells {
    border: var(--tborder);
    width: var(--td-width);
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: var(--spec-fontsz);
}
