@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir.ttc') format('ttc');
}

.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin-left: 0px;*/
    /*margin-right: 00px;*/
    /* border: 2px solid blue; */
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #424656;
    
}

.logoName {
    display: flex;
    cursor: pointer;
}

.logo{
    /*margin-top: 2px;*/
    height: 75px;
    width: 120px;
}

.siteName {
    font-family: 'Renner*';
    font-weight: bold;
    font-size: 28px;
    padding-top: 6px;
    padding-bottom: 1px;
    color: white;
}

.sBarGroup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
  }


.categoryDropdown::-ms-expand {
    display: none;
    appearance: none;
}
.categoryDropdown {
    appearance: none;
    color: #424656;
    text-align: center;
    background: whitesmoke;
    font-family: 'Avenir';
    font-size: 14px;
    display: inline-block;
    border: none;
    border-radius: 0;
    outline: none;
    position: relative;
    padding: 0.8em 0.5em;
    /*display: grid;*/
    margin-top:12px;
    margin-left: 0px;
    margin-right: 1px;
    margin-bottom: 12px;
    align-items: center;
    width:fit-content;
    cursor:pointer;
    grid-template-areas: "select";
    grid-area: select;
}

.categoryDropdown::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    color: black;
    display: grid;
    position: absolute;
    justify-self: end;
    background-color: #FF0000;
    grid-area: select;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.categoryDropdown > option:focus {
    appearance: none;
    outline: none;
    color: #424656;
    background-color: inherit;
    padding: 0 10px;
}

.catOpts {
    border-radius: 0px;
    background-color: white;
    appearance: none;
}

.search_bar {
    font-size: 15px;
    font-family: 'Avenir';
    border: 1px solid white;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.search_bar:focus {
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.search_btn {
    /*color:black; */
    background-color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items:center;
    width: fit-content;
    padding: 12.5px;
    cursor: pointer;
    font-size: 15px;
    margin-top:11px;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 0px;
}
.search_btn > svg {
    fill: #4f4f4f;
}
.search_btn:hover, .search_btn:hover > svg {
    /*outline: #4f4f4f solid 1px;*/
    outline: none;
    fill: #717999;
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
    /*width: fit-content;*/
    /*border: 2px solid #424656;*/
}

.tooltip .tooltip_msg {
    visibility: hidden;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    border: 1px solid #424656;
    background-color: whitesmoke;
    color: #424656;
    text-align: center;
    padding: 0px 3.1rem 0px 0.6rem;
    margin-left: -60px;

    font-family: 'Avenir';
    font-size: 14px;
    font-style: italic;
    
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 90%;
}

.tooltip:hover .tooltip_msg {
    visibility: visible;
}

/* Dropdown Menu */
.dropMenu {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 100%;
}
.dropMenuContent {
    font-family: 'Avenir';
    font-size: 14px;
    display: none;
    position: absolute;
    /*top: 140%;*/
    /*text-align: right;*/
    background-color: whitesmoke;
    padding: 0rem 1rem 0rem 1rem;
    /*min-width: 120px;*/
    min-width: fit-content;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropMenuContent > a {
    color: #424656;
    width: fit-content;
    align-self: center;
    padding: 6px;
    text-decoration: none;
    display: block;
}
.dropMenuContent > a:hover {
    color: #717999;
}
.dropMenu:hover .dropMenuContent { display: block; }

.userOpts {
    display:flex;
    width: fit-content;
    align-items:center;
    gap:2rem;
}

.shopcart {
    cursor:pointer;
    width: 60px;
    height: 30px;
    border-radius: 10px;
} 

.shopcart:hover {
    fill: #717999;
}

.userIcon {
    cursor:pointer;
    width: fit-content;
    height: fit-content;
    text-align:center;
    fill: white;
    width: 60px;
    height: 27.5px;
}

/*.userSigning:hover{*/
    /*font-size: 1rem;*/
/*}*/


