.footer{
    display:flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    margin-bottom:0px;
    /* border: 1px solid red; */
    height: 40px;
    background-color: rgba(2, 2, 95, 0.938);
}

.footer a {
    text-decoration: none;
    color: white;
}

.lang{
    height: 30px;
    width: 100px;
    cursor: pointer;
}