
.price-filter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: .1em;
    padding: .4rem;
}
.price-range-filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: .5em;
}
.price-range-filter label {
    display: flex;
    flex-flow: column-reverse nowrap;
    user-select: none;
    align-items: center;
    column-gap: .5em;
    font-size: .8em;
    color: rgb(131, 131, 131);
}
.price-range-box {
    appearance: none;
    text-align: center;
    font-weight: lighter;
    font-size: 1.4em;
    max-width: 8ch;
    border: none;
    outline: none;
    border-bottom: .1em solid rgba(43, 43, 43, 0.555);
    transition: all .5s ease-in-out;
}
.price-range-box.error { border-style: none none dashed none; border-bottom-width: .14em; }
/* Disable arrows in range boxes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error{ border-color: crimson !important; }

.price-order-filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: .8em;
    user-select: none;
}

.price-order-radio { appearance: none; }
.price-order-radio + span {
    display: flex;
    flex-flow: row nowrap;
    column-gap: .5em;
    color: rgb(80, 80, 80);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.price-order-radio + span > svg { 
    width: .8em;
    height: auto;
}
.price-order-radio + span > svg > path { stroke:rgb(151, 151, 151); }
.price-order-filter > label:last-child svg  { transform: rotate(90deg); }
.price-order-radio:checked + span {
    padding: .3em .8em .3em .5em;
    background-color: rgba(207, 207, 207, 0.623);
    border-radius: .3em;
    color: black;
}
.price-order-radio:checked + span path { stroke: black; }