/*    _______  _  _                    
*    (_______)(_)| | _                 
*     _____    _ | || |_   ____   ____ 
*    |  ___)  | || ||  _) / _  ) / ___)
*    | |      | || || |__( (/ / | |    
*    |_|      |_||_| \___)\____)|_|    */

.filter-container {
    z-index: 2;
}
.filter-hamburger-trigger.open { background-color: black; }
.filter-hamburger-trigger.open > svg > path { fill: white; }
.filter-hamburger-trigger {
    display: inline-grid;
    place-items: center;
    position: fixed;
    z-index: 2;
    bottom: 2%;
    left: 1%;

    background: white;
    border: 0.1rem solid black;
    border-radius: 100%;
    width: 5em;
    height: auto;
    padding: 1em;
    object-fit: contain;
    transition: all .4s ease-in-out;
}
.filter-hamburger-trigger > hr {
    width: 90%;
}
.filter-hamburger-trigger > svg {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.filter-hamburger-trigger > svg > path {
    fill: black;
}
.filter-menu {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: fixed;
    /* bottom: 109%; */
    bottom: 5.5em;
    left: 1%;

    display: flex;
    flex-flow: column wrap;
    align-items: left;
    align-content: center;
    justify-content: center;
    padding: 0.5em;

    max-width: 75em;
    width: fit-content;
    height: auto;

    background-color: white;
    border: 0.1rem solid black;

    text-align: left;
    transition: all .4s ease-in-out;
}
.filter-menu::after {
    content: "";
    --fm-tail: 0.8em;
    width : var(--fm-tail);
    height: var(--fm-tail);
    background-color: white;
    border-bottom: calc(var(--fm-tail) / 10) solid black;
    border-right: calc(var(--fm-tail) / 10) solid black;
    transform: rotate(45deg);

    position: absolute;
    bottom: calc( var(--fm-tail) * -1 / 1.5);
    left: 1.25em;
}

.filter-menu.active {
    visibility: visible;
    opacity: 1;
}

/* ------FILTER-------- */
.filter-options {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 90%;
    margin-top: .4em;
    margin-bottom: 2em;
}

.filter-option {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 33.33%;
    height: auto;
}
.filter-option > svg {
    max-width: 90%;
    height: auto;
}
.filter-option > svg > path {
    fill: black;
}

/* ------LAYOUT-------- */
.layout-options {
    margin-top: .5em;
    margin-bottom: auto;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 992px) {
    .filter-menu {
        font-size: 0.6rem;
    }
    .layout-options {
        gap: 1em;
        width: 90%;
    }
    .layout-option { width: 23%; }
    .layout-option > svg {
        width: 4em;
        height: auto;
    }
}

.layout-option { 
    cursor: pointer;
    display: inline-grid; 
    place-items: center; 
    width: auto;
    height: auto;
    object-fit: contain;
    transition: all .2s ease-in-out;
}
.layout-option:hover > svg > rect { filter: invert(1); }
.layout-option.selected:hover { cursor:not-allowed; }
.layout-option.selected:hover > svg > rect { filter: none; }
.layout-option > svg > rect { fill: #5E5E5E ; }
.layout-option.selected > svg > rect { fill: white ; }
.layout-option.selected > svg > path { stroke: white ; }
.layout-option.selected { 
    padding: .2em;
    background-color: gray;
    border-radius: .2em;
}
