/*    ___   __  ____  __   __     __    ___ 
     / __) / _\(_  _)/ _\ (  )   /  \  / __)
    ( (__ /    \ )( /    \/ (_/\(  O )( (_ \
     \___)\_/\_/(__)\_/\_/\____/ \__/  \___/
*/

.catalog-container {
    --catalog-color: black;
    --image-dimension: 5rem;
    --expand: calc(var(--image-dimension) + 0.1rem);
    --catalog-animation: all 0.2s ease-in-out;
    background: white;
    display: grid;
    place-items: center;

    padding: 5rem;
    width: auto;
    height: 100%;

    user-select: none;
}

.category-grid-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    padding: 0;
    list-style-type: none;
}

/* Turn everthing gray upon entering category-grid */
.category-grid-list:hover > * ,
.category-grid-list:hover > * > * ,
.category-grid-list:hover > * > *  > * {
    fill: #4f4f4f;
    color: #4f4f4f;
    /*font-weight: 700;*/
}

.category-label {
    display: block;
    font-weight: 400;

    transition: var(--catalog-animation);
}

/* Stock category block */
.category-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;

    text-align: center;
}

.category-box svg {
    max-width: var(--image-dimension);
    max-height: var(--image-dimension);
    transition: var(--catalog-animation)
}

.category-box svg > path {
    fill: var(--catalog-color);
    transition: var(--catalog-animation)
}

/* On Hover Category Block */

.category-box:hover > .category-label {
    color: var(--catalog-color);
    font-weight: 600;
}

.category-box:hover > svg {
    max-width : var(--expand);
    max-height: var(--expand);
}
.category-box:hover > svg > path {
    fill: black;
}
