
.listings-section {
    width:100%;
    height:fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; gap: 1rem;
}

.products-section{
    width:100%;
    height:fit-content;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

*{ box-sizing: border-box; }
